# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
**/.next/
/out/

# deployment
/build
/dist
/renderer/out
/release

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.*local
.env.*development
.env.*test
.env.*production
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
**/__pycache__
*.spec
/includes

# generated
/threads
/memories
/chromadb
/storage
/settings
/embed_models
/text_models
/output
/installer
/examples/models_cache
/examples/parsed_data
*.exe
