# QR-code image gen
PyQRCode==1.2.1
pypng
# .env vars
python-dotenv==1.0.0
# For type safety
pydantic-settings==2.0.3
# For downloading models
huggingface-hub==0.22.2
# For servers
fastapi==0.101.1
uvicorn==0.23.2
httpx==0.27.0
sse-starlette==1.6.5
starlette-context==0.3.6
# HTML templating
Jinja2==3.1.3
# For text inference
llama-cpp-python==0.2.32
# For retrieving embeddings
llama-index==0.10.29
llama-index-vector-stores-chroma==0.1.6
llama-index-embeddings-huggingface==0.2.0
llama-index-llms-llama-cpp==0.1.3
llama-parse==0.4.1
# For embeddings creation and storage
chromadb==0.4.24
sentence-transformers==2.6.1
# For building single exe python
pyinstaller==6.6.0
python-multipart==0.0.6