.formOptions {
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fieldItem {
  min-height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
  text-align: left;
}
.fieldItem p {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
