body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Cross-doc transition: https://developer.chrome.com/docs/web-platform/view-transitions/cross-document */
/* View transition */
@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: fadeOut 0.25s ease-out;
}

::view-transition-new(root) {
  animation: fadeIn 0.25s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 1;
    transform: translateX(-100%);
  }
  to {
    opacity: 0;
    transform: translateX(0%);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateX(0%);
  }
  to {
    opacity: 1;
    transform: translateX(-100%);
  }
}
